# 2.DataFrame
2차원 데이터(Series 들의 모음)

## Data 준비
사전 (dict) 자료구조를 통해 생성
예) 슬램덩크 주요 인물 8명에 대한 데이터

In [1]:
data={
    '이름' : ['채치수','정대만', '송태섭','윤대협','강백호','변덕규','황태산','윤대협'],
    '학교' : ['북산고','북산고', '북산고','능남고','북산고','능남고','능남고','능남고'],
    '키' : [198,183,168,187,188, 202,188,190],
    '국어' : [90,40,80,20,75,86,15,17],
    '영어' : [30,100,30,24,75,85,25,60],
    '수학' : [40,70,40,26,85,84,35,15],
    '과학' : [20,40,60,27,95,81,25,10],
    '사회' : [10,30,80,29,65,82,15,20],
    'SW특기' : ['Python','Java','C','C++','PYTHON','C#','','']
}
data

{'이름': ['채치수', '정대만', '송태섭', '윤대협', '강백호', '변덕규', '황태산', '윤대협'],
 '학교': ['북산고', '북산고', '북산고', '능남고', '북산고', '능남고', '능남고', '능남고'],
 '키': [198, 183, 168, 187, 188, 202, 188, 190],
 '국어': [90, 40, 80, 20, 75, 86, 15, 17],
 '영어': [30, 100, 30, 24, 75, 85, 25, 60],
 '수학': [40, 70, 40, 26, 85, 84, 35, 15],
 '과학': [20, 40, 60, 27, 95, 81, 25, 10],
 '사회': [10, 30, 80, 29, 65, 82, 15, 20],
 'SW특기': ['Python', 'Java', 'C', 'C++', 'PYTHON', 'C#', '', '']}

In [2]:
data['이름']

['채치수', '정대만', '송태섭', '윤대협', '강백호', '변덕규', '황태산', '윤대협']

##  DataFrame 객체 생성

In [13]:
import pandas as pd
df = pd.DataFrame(data)

In [14]:
df

    이름   학교    키  국어   영어  수학  과학  사회    SW특기
0  채치수  북산고  198  90   30  40  20  10  Python
1  정대만  북산고  183  40  100  70  40  30    Java
2  송태섭  북산고  168  80   30  40  60  80       C
3  윤대협  능남고  187  20   24  26  27  29     C++
4  강백호  북산고  188  75   75  85  95  65  PYTHON
5  변덕규  능남고  202  86   85  84  81  82      C#
6  황태산  능남고  188  15   25  35  25  15
7  윤대협  능남고  190  17   60  15  10  20

# DATA 접근

In [15]:
df['이름']

0    채치수
1    정대만
2    송태섭
3    윤대협
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [16]:
df[['이름','키']] # 대괄호를 2개 써야 한다.

    이름    키
0  채치수  198
1  정대만  183
2  송태섭  168
3  윤대협  187
4  강백호  188
5  변덕규  202
6  황태산  188
7  윤대협  190

## DataFrame 객체 생성(index 지정)

In [21]:
df = pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df

     이름   학교    키  국어   영어  수학  과학  사회    SW특기
1번  채치수  북산고  198  90   30  40  20  10  Python
2번  정대만  북산고  183  40  100  70  40  30    Java
3번  송태섭  북산고  168  80   30  40  60  80       C
4번  윤대협  능남고  187  20   24  26  27  29     C++
5번  강백호  북산고  188  75   75  85  95  65  PYTHON
6번  변덕규  능남고  202  86   85  84  81  82      C#
7번  황태산  능남고  188  15   25  35  25  15
8번  윤대협  능남고  190  17   60  15  10  20

## DataFrame 객체 생성(Column 지정)
데이터 중에서 원하는 column 만 선택하거나, 순서변경 가능

In [23]:
df = pd.DataFrame(data, columns=['이름','학교','키'])
df

    이름   학교    키
0  채치수  북산고  198
1  정대만  북산고  183
2  송태섭  북산고  168
3  윤대협  능남고  187
4  강백호  북산고  188
5  변덕규  능남고  202
6  황태산  능남고  188
7  윤대협  능남고  190