
# 3.Index
데이터에 접근할 수 있는 주소값

In [3]:
import pandas as pd
data={
    '이름' : ['채치수','정대만', '송태섭','윤대협','강백호','변덕규','황태산','윤대협'],
    '학교' : ['북산고','북산고', '북산고','능남고','북산고','능남고','능남고','능남고'],
    '키' : [198,183,168,187,188, 202,188,190],
    '국어' : [90,40,80,20,75,86,15,17],
    '영어' : [30,100,30,24,75,85,25,60],
    '수학' : [40,70,40,26,85,84,35,15],
    '과학' : [20,40,60,27,95,81,25,10],
    '사회' : [10,30,80,29,65,82,15,20],
    'SW특기' : ['Python','Java','C','C++','PYTHON','C#','','']
}
data
df = pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df = pd.DataFrame(data)
df

    이름   학교    키  국어   영어  수학  과학  사회    SW특기
0  채치수  북산고  198  90   30  40  20  10  Python
1  정대만  북산고  183  40  100  70  40  30    Java
2  송태섭  북산고  168  80   30  40  60  80       C
3  윤대협  능남고  187  20   24  26  27  29     C++
4  강백호  북산고  188  75   75  85  95  65  PYTHON
5  변덕규  능남고  202  86   85  84  81  82      C#
6  황태산  능남고  188  15   25  35  25  15
7  윤대협  능남고  190  17   60  15  10  20

In [4]:
df.index

RangeIndex(start=0, stop=8, step=1)

# 인덱스 이름 설정

In [5]:
df.index.name='지원번호'
df

       이름   학교    키  국어   영어  수학  과학  사회    SW특기
지원번호
0     채치수  북산고  198  90   30  40  20  10  Python
1     정대만  북산고  183  40  100  70  40  30    Java
2     송태섭  북산고  168  80   30  40  60  80       C
3     윤대협  능남고  187  20   24  26  27  29     C++
4     강백호  북산고  188  75   75  85  95  65  PYTHON
5     변덕규  능남고  202  86   85  84  81  82      C#
6     황태산  능남고  188  15   25  35  25  15
7     윤대협  능남고  190  17   60  15  10  20

## 인덱스 초기화

In [6]:
df. reset_index()

   지원번호   이름   학교    키  국어   영어  수학  과학  사회    SW특기
0     0  채치수  북산고  198  90   30  40  20  10  Python
1     1  정대만  북산고  183  40  100  70  40  30    Java
2     2  송태섭  북산고  168  80   30  40  60  80       C
3     3  윤대협  능남고  187  20   24  26  27  29     C++
4     4  강백호  북산고  188  75   75  85  95  65  PYTHON
5     5  변덕규  능남고  202  86   85  84  81  82      C#
6     6  황태산  능남고  188  15   25  35  25  15
7     7  윤대협  능남고  190  17   60  15  10  20

In [7]:
df.reset_index(drop=True) #원래 쓰던 '지원번호' 삭제

    이름   학교    키  국어   영어  수학  과학  사회    SW특기
0  채치수  북산고  198  90   30  40  20  10  Python
1  정대만  북산고  183  40  100  70  40  30    Java
2  송태섭  북산고  168  80   30  40  60  80       C
3  윤대협  능남고  187  20   24  26  27  29     C++
4  강백호  북산고  188  75   75  85  95  65  PYTHON
5  변덕규  능남고  202  86   85  84  81  82      C#
6  황태산  능남고  188  15   25  35  25  15
7  윤대협  능남고  190  17   60  15  10  20

In [8]:
df

       이름   학교    키  국어   영어  수학  과학  사회    SW특기
지원번호
0     채치수  북산고  198  90   30  40  20  10  Python
1     정대만  북산고  183  40  100  70  40  30    Java
2     송태섭  북산고  168  80   30  40  60  80       C
3     윤대협  능남고  187  20   24  26  27  29     C++
4     강백호  북산고  188  75   75  85  95  65  PYTHON
5     변덕규  능남고  202  86   85  84  81  82      C#
6     황태산  능남고  188  15   25  35  25  15
7     윤대협  능남고  190  17   60  15  10  20

In [9]:
df.reset_index(drop=True, inplace=True) # 실제 데이터에 바로 반영

In [10]:
df

    이름   학교    키  국어   영어  수학  과학  사회    SW특기
0  채치수  북산고  198  90   30  40  20  10  Python
1  정대만  북산고  183  40  100  70  40  30    Java
2  송태섭  북산고  168  80   30  40  60  80       C
3  윤대협  능남고  187  20   24  26  27  29     C++
4  강백호  북산고  188  75   75  85  95  65  PYTHON
5  변덕규  능남고  202  86   85  84  81  82      C#
6  황태산  능남고  188  15   25  35  25  15
7  윤대협  능남고  190  17   60  15  10  20

## 인덱스 설정
지정한 column 으로 index 를 설정

In [11]:
#df.set_index('이름')

      학교    키  국어   영어  수학  과학  사회    SW특기
이름
채치수  북산고  198  90   30  40  20  10  Python
정대만  북산고  183  40  100  70  40  30    Java
송태섭  북산고  168  80   30  40  60  80       C
윤대협  능남고  187  20   24  26  27  29     C++
강백호  북산고  188  75   75  85  95  65  PYTHON
변덕규  능남고  202  86   85  84  81  82      C#
황태산  능남고  188  15   25  35  25  15
윤대협  능남고  190  17   60  15  10  20

In [19]:
df

      학교    키  국어   영어  수학  과학  사회    SW특기
이름
채치수  북산고  198  90   30  40  20  10  Python
정대만  북산고  183  40  100  70  40  30    Java
송태섭  북산고  168  80   30  40  60  80       C
윤대협  능남고  187  20   24  26  27  29     C++
강백호  북산고  188  75   75  85  95  65  PYTHON
변덕규  능남고  202  86   85  84  81  82      C#
황태산  능남고  188  15   25  35  25  15
윤대협  능남고  190  17   60  15  10  20

In [27]:
df.set_index('키', inplace=True) # 키가 없어졌다. 
df

      학교  국어   영어  수학  과학  사회    SW특기
키
198  북산고  90   30  40  20  10  Python
183  북산고  40  100  70  40  30    Java
168  북산고  80   30  40  60  80       C
187  능남고  20   24  26  27  29     C++
188  북산고  75   75  85  95  65  PYTHON
202  능남고  86   85  84  81  82      C#
188  능남고  15   25  35  25  15
190  능남고  17   60  15  10  20

## 인덱스 정렬

In [29]:
df.sort_index()

      학교  국어   영어  수학  과학  사회    SW특기
키
168  북산고  80   30  40  60  80       C
183  북산고  40  100  70  40  30    Java
187  능남고  20   24  26  27  29     C++
188  북산고  75   75  85  95  65  PYTHON
188  능남고  15   25  35  25  15
190  능남고  17   60  15  10  20
198  북산고  90   30  40  20  10  Python
202  능남고  86   85  84  81  82      C#

In [30]:
df.sort_index(ascending=False) # 내림차순 정렬

      학교  국어   영어  수학  과학  사회    SW특기
키
202  능남고  86   85  84  81  82      C#
198  북산고  90   30  40  20  10  Python
190  능남고  17   60  15  10  20
188  북산고  75   75  85  95  65  PYTHON
188  능남고  15   25  35  25  15
187  능남고  20   24  26  27  29     C++
183  북산고  40  100  70  40  30    Java
168  북산고  80   30  40  60  80       C