# 4. 파일 저장 및 열기
DataFrame 객체를 excel,csv,txt 등의 형태의 파일로 읽고 쓰기

In [3]:
import pandas as pd
data={
    '이름' : ['채치수','정대만', '송태섭','윤대협','강백호','변덕규','황태산','윤대협'],
    '학교' : ['북산고','북산고', '북산고','능남고','북산고','능남고','능남고','능남고'],
    '키' : [198,183,168,187,188, 202,188,190],
    '국어' : [90,40,80,20,75,86,15,17],
    '영어' : [30,100,30,24,75,85,25,60],
    '수학' : [40,70,40,26,85,84,35,15],
    '과학' : [20,40,60,27,95,81,25,10],
    '사회' : [10,30,80,29,65,82,15,20],
    'SW특기' : ['Python','Java','C','C++','PYTHON','C#','','']
}
data
df = pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index.name='지원번호'
df

       이름   학교    키  국어   영어  수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  198  90   30  40  20  10  Python
2번    정대만  북산고  183  40  100  70  40  30    Java
3번    송태섭  북산고  168  80   30  40  60  80       C
4번    윤대협  능남고  187  20   24  26  27  29     C++
5번    강백호  북산고  188  75   75  85  95  65  PYTHON
6번    변덕규  능남고  202  86   85  84  81  82      C#
7번    황태산  능남고  188  15   25  35  25  15
8번    윤대협  능남고  190  17   60  15  10  20

## 저장하기 CSV 파일로 저장

In [5]:
df.to_csv('score.csv',encoding='utf-8-sig')  # 인코딩.. 중요..

In [ ]:
df.to_csv('score.csv',encoding='utf-8-sig', index=False)

## Txt 파일로 저장

In [6]:
df.to_csv('score.txt', sep='\t')  # tab 로 구분된 텍스트 파일.

## 엑셀 파일로 저장

In [7]:
df.to_excel('score.xlsx')

***
## 열기
### CSV 파일 열기

In [14]:
df = pd.read_csv('score.csv')
df

  지원번호   이름   학교    키  국어   영어  수학  과학  사회    SW특기
0   1번  채치수  북산고  198  90   30  40  20  10  Python
1   2번  정대만  북산고  183  40  100  70  40  30    Java
2   3번  송태섭  북산고  168  80   30  40  60  80       C
3   4번  윤대협  능남고  187  20   24  26  27  29     C++
4   5번  강백호  북산고  188  75   75  85  95  65  PYTHON
5   6번  변덕규  능남고  202  86   85  84  81  82      C#
6   7번  황태산  능남고  188  15   25  35  25  15     NaN
7   8번  윤대협  능남고  190  17   60  15  10  20     NaN

In [18]:
df = pd.read_csv('score.csv', skiprows=1)
df

   1번  채치수  북산고  198  90   30  40  20  10  Python
0  2번  정대만  북산고  183  40  100  70  40  30    Java
1  3번  송태섭  북산고  168  80   30  40  60  80       C
2  4번  윤대협  능남고  187  20   24  26  27  29     C++
3  5번  강백호  북산고  188  75   75  85  95  65  PYTHON
4  6번  변덕규  능남고  202  86   85  84  81  82      C#
5  7번  황태산  능남고  188  15   25  35  25  15     NaN
6  8번  윤대협  능남고  190  17   60  15  10  20     NaN

In [19]:
df = pd.read_csv('score.csv', skiprows=[1,3,5])
df

  지원번호   이름   학교    키  국어   영어  수학  과학  사회  SW특기
0   2번  정대만  북산고  183  40  100  70  40  30  Java
1   4번  윤대협  능남고  187  20   24  26  27  29   C++
2   6번  변덕규  능남고  202  86   85  84  81  82    C#
3   7번  황태산  능남고  188  15   25  35  25  15   NaN
4   8번  윤대협  능남고  190  17   60  15  10  20   NaN

In [21]:
df = pd.read_csv('score.csv', nrows=4) # 지정된 개수 만큼 가져온다.
df

  지원번호   이름   학교    키  국어   영어  수학  과학  사회    SW특기
0   1번  채치수  북산고  198  90   30  40  20  10  Python
1   2번  정대만  북산고  183  40  100  70  40  30    Java
2   3번  송태섭  북산고  168  80   30  40  60  80       C
3   4번  윤대협  능남고  187  20   24  26  27  29     C++

In [22]:
df = pd.read_csv('score.csv', skiprows=2, nrows=4) # 처음 2개 row 무시, 이후 4개 가져온다.
df

   2번  정대만  북산고  183  40  100  70  40.1  30    Java
0  3번  송태섭  북산고  168  80   30  40    60  80       C
1  4번  윤대협  능남고  187  20   24  26    27  29     C++
2  5번  강백호  북산고  188  75   75  85    95  65  PYTHON
3  6번  변덕규  능남고  202  86   85  84    81  82      C#

## 텍스트 파일 열기

In [24]:
df = pd.read_csv('score.txt', sep='\t')
df

  지원번호   이름   학교    키  국어   영어  수학  과학  사회    SW특기
0   1번  채치수  북산고  198  90   30  40  20  10  Python
1   2번  정대만  북산고  183  40  100  70  40  30    Java
2   3번  송태섭  북산고  168  80   30  40  60  80       C
3   4번  윤대협  능남고  187  20   24  26  27  29     C++
4   5번  강백호  북산고  188  75   75  85  95  65  PYTHON
5   6번  변덕규  능남고  202  86   85  84  81  82      C#
6   7번  황태산  능남고  188  15   25  35  25  15     NaN
7   8번  윤대협  능남고  190  17   60  15  10  20     NaN

In [31]:
df = pd.read_csv('score.txt', sep='\t', index_col='지원번호')  #, index_col='지원번호'
df.set_index('키', inplace=True)
df

      이름   학교  국어   영어  수학  과학  사회    SW특기
키
198  채치수  북산고  90   30  40  20  10  Python
183  정대만  북산고  40  100  70  40  30    Java
168  송태섭  북산고  80   30  40  60  80       C
187  윤대협  능남고  20   24  26  27  29     C++
188  강백호  북산고  75   75  85  95  65  PYTHON
202  변덕규  능남고  86   85  84  81  82      C#
188  황태산  능남고  15   25  35  25  15     NaN
190  윤대협  능남고  17   60  15  10  20     NaN

## 엑셀파일 열기

In [33]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키  국어   영어  수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  198  90   30  40  20  10  Python
2번    정대만  북산고  183  40  100  70  40  30    Java
3번    송태섭  북산고  168  80   30  40  60  80       C
4번    윤대협  능남고  187  20   24  26  27  29     C++
5번    강백호  북산고  188  75   75  85  95  65  PYTHON
6번    변덕규  능남고  202  86   85  84  81  82      C#
7번    황태산  능남고  188  15   25  35  25  15     NaN
8번    윤대협  능남고  190  17   60  15  10  20     NaN